{{yield}}


<div class="bot">
  <h1>{{title}}</h1>
  <!-- i had chat after 'askBot on the line below..n/s why though!' -->
  <div class="col-lg-3">
  <img src="images/seattleTom.png"
  width="250px">
  </div>
  <form {{action 'askBot' on="submit"}} class="form-inline">
  <div class="col-9" style="padding-right: 5px; padding-left: 65px;">
    {{input value=botRequest class='form-control'}}
    <!-- <input id="message" class="form-control" aria-label="Enter your message..." class="input_text" type="text" autocomplete="off" name="message" placeholder="Enter your message..." v-model="message" v-on:keyup.13="submitMessage"> -->
  </div>
  <br>
  <br>
    <div class="col-2" style="padding-left: 5px">
        <button id="sendmessage" class="btn btn-warning" type="submit" class="button_primary" v-on:click="submitMessage">start chat</button>
    </div>

  </form>
</div>
