@import "bootstrap";

/*
* {
  background-color: grey;
}*/
html {
  height:100%;
}

body {
  height:100%;
  /*background-color: red;*/
}
h1 {
  color:red;
}

#gmaps {
    padding:0px;
    margin:0px;
}
#logoEx {
  color:rgb(252,94,27);
  font-size:250px;
}
.title {
    /*font-family: 'Permanent Marker', cursive;*/


    /*font-family: 'Rock Salt', cursive;*/



    font-family: 'Love Ya Like A Sister', cursive;
  font-size: 65px;


  color:black;
}
#trg {
  color:black;
}
#maintitle {
  text-shadow: 0 0 30px rgba(255,255,255, 0.5);
  font-size:125px;
  color:rgb(252,94,27);
  font-style: italic;
  border-radius: 4px;
  margin-top: -20px;

  /*font-family: 'Permanent Marker', cursive;*/


  /*font-family: 'Rock Salt', cursive;*/



  font-family: 'Love Ya Like A Sister', cursive;

}
/*a {
  color:white;
}*/

.navbar-default .navbar-nav > li > a {
    color: white;
}


#map {
  height : 500px;

}

.navbar {
  color: white;
  background-color: rgb(252,94,27);
  border-radius: 0px;
  border: 0px;
  font-family: "Oswald", sans-serif;
  margin-bottom: 0px;
}

.horiz {
  color:white;
  margin-left: 415px;
  font-size: 24px;
}

.imageRender {
  width:853px;
   height:480px;

   border:1px;
   border-color: lightgrey;
   border-style: solid;
   border-radius: 5px;
}

.maintitle {
  font-size: 60px;
  color: white;
}

#dTomster {
  margin-left: -40px;
}

.jumbotron {
  height:100%
}
.indexbackground {
  /*margin-top: -20px;*/
  opacity: .9;
/*../images/montblanc.jpg*/
  background: url("../images/woodedTrail.jpg");
  /*url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ3NWIuWrCoufQqJtugeTYt40oDWbBDxWmdOz86yuKHkuVDC1Zv3Q");*/

   /*url("https://www.chamonix.net/sites/default/files/nodeimages/trail1.jpg?itok=i-5JQUam");*/

  /*background-position: center;*/
  background-size:cover;
  height:100vh;
  /*background-repeat: no-repeat;
  overflow:hidden;
  height:100%;*/
}
.humanAsk {
  font-size:30px;
  color: white;
}

.humanAsk:nth-child(2n){
  font-size: 30px;
  color:red
}

.btnChat {
  color: white;
  background-color: rgb(252,94,27);
}

h4 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: 'Montserrat', sans-serif;
  font-size:24px;

}

.chatBox {
  padding-left: 25px;
  border: 5px;
  border-radius: 10px;
  border-color: white;
  border-style: solid;
  border-width: 1px;
  background: rgba(54, 25, 25, .7);

}
