@import "bootstrap";

/*
* {
  background-color: grey;
}*/
html {
  height:100%;
}

body {
  height:100%;
  /*background-color: red;*/
}
h1 {
  color:red;
}
.title {
  font-family: 'Signika', sans-serif;
  font-size: 50px;
  color:white;
}


#map {
  height : 500px;

}

.navbar {
  color: white;
  background-color: rgb(252,94,27);
  border-radius: 0px;
  border: 0px;
  font-family: "Oswald", sans-serif;
}

.horiz {
  color:white;
  margin-left: 210px;
  font-size: 24px;
}

.imageRender {
  width:853px;
   height:480px;

   border:1px;
   border-color: lightgrey;
   border-style: solid;
   border-radius: 5px;
}

.maintitle {
  font-size: 60px;
  color: white;
}

.botReplyText {
  font-color:red
}

.jumbotron {
  height:100%
}
.indexbackground {
  margin-top: -20px;
  opacity: .9;
/*../images/montblanc.jpg*/
  background: url("../images/woodedTrail.jpg");
  /*url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ3NWIuWrCoufQqJtugeTYt40oDWbBDxWmdOz86yuKHkuVDC1Zv3Q");*/

   /*url("https://www.chamonix.net/sites/default/files/nodeimages/trail1.jpg?itok=i-5JQUam");*/

  /*background-position: center;*/
  background-size:cover;
  height:100vh;
  /*background-repeat: no-repeat;
  overflow:hidden;
  height:100%;*/
}
