@import "bootstrap";

/*
* {
  background-color: grey;
}*/

.title {
  font-family: 'Signika', sans-serif;
  font-size: 50px;
  color:white;
}


#map {
  height : 500px;

}

.navbar {
  color: white;
  background-color: #1798c1;
}

.horiz {
  margin-left: 170px;
  font-size: 24px;
}
