<!-- <div class="row">
  <div class="col-lg-12">
    <h1 class="text-center title">Trail Run Guide</h1>
    <button type="button" class="btn btn-success">Success</button>
  </div>
  <h4>   herrrro</h4>
</div> -->

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <!-- <span class="icon-bar"></span> -->
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
       {{#link-to 'index'}}
      <a class="navbar-brand title"
      >TRG</a>{{/link-to}}
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <div class="text-center">
        <ul class="nav navbar-nav horiz">
          <li>{{#link-to 'video'}}Watch{{/link-to}}</li>
          <li>{{#link-to 'best-websites'}}Read{{/link-to}}</li>
          <li>{{#link-to 'instagrams-to-follow'}}Follow{{/link-to}}</li>
          <li>{{#link-to 'find-a-race'}}Listen {{/link-to}}</li>
          <li>{{#link-to 'get-out-and-run'}}TrailRun! {{/link-to}}</li>
          <li>{{#link-to 'find-a-race'}}Race {{/link-to}}</li>


        </ul>
      </div>
      <ul class="nav navbar-nav navbar-right">

        <!-- <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span ></span></a>
          <ul class="dropdown-menu">
            {{#link-to 'video'}}
            <li><a href="#">Video</a></li>{{/link-to}}
            {{#link-to 'best-websites'}}
            <li><a href="#">Best Websites</a></li>{{/link-to}}
            {{#link-to 'find-a-race'}}
            <li><a href="#">Find a Race </a></li>{{/link-to}}
            {{#link-to 'get-out-and-run'}}
            <li><a href="#">Get Out and Run</a></li>{{/link-to}}
            {{#link-to 'instagrams-to-follow'}}
            <li><a href="#">Instagrams to Follow</a></li>{{/link-to}}
            {{#link-to 'register'}}
            <li><a href="#">Register</a></li>{{/link-to}}
          </ul>
        </li> -->
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>







{{outlet}}
