<!-- <h2>Best video / YouTube channels to follow</h2> -->

{{video-list title="Best video / YouTube channels to follow"   people=model}}


  <!-- this was the original list that became the component spelled out above! <ul>
    {{#each people as |person|}}
      <li>{{person}}</li>
    {{/each}}
  </ul> -->
{{outlet}}
